{% extends "SmallAdsBundle:Main:base.html.twig" %}

{% block title %}small ads - admin{% endblock %}

{% block body %}

    {% include 'SmallAdsBundle:Ad:ad_menu.html.twig' %}
    {% include 'SmallAdsBundle:Category:admin_menu.html.twig' %}
    
    <h2>Wszystkie kategorie</h2>
    <hr/>

    <ul>
        {% for category in categories %}
            <li>
                ID:  {{ category.id }}, Nazwa: {{ category.name }}, Ilość ogłoszeń: 
                {{ category.ads | length }} <br/>
                <a href="{{ path("smallads_category_editcategory", {"id":category.id}) }}">
                    <button class="btn btn-info btn-xs">Edytuj</button></a> 
                <a href="{{ path("smallads_category_deletecategory", {"id":category.id}) }}">
                    <button class="btn btn-warning btn-xs">Usuń kategorię</button></a> <br/><br/>
            </li>   
        {% else %}
            Brak zapisanych kategorii
        {% endfor %}
    </ul>

{% endblock %}
