{% extends "::base.html.twig" %}

{% block title %}SmallAdsBundle:Category:show all{% endblock %}

{% block body %}
    <h1>Welcome to the Category:show all page</h1>

    <ul>
        {% for category in categories %}
            <li>
                ID:  {{ category.id }}, Nazwa: {{ category.name }}, Ilość ogłoszeń: 
                {{ category.smallAds | length }} <br/>
                <a href="{{ path("smallads_category_edit", {"id":category.id}) }}">Edytuj</a> 
                <a href="{{ path("smallads_category_delete", {"id":category.id}) }}">Usuń</a> <br/><br/>
            </li>   
        {% else %}
            Brak zapisanych kategorii
        {% endfor %}
    </ul>

{% endblock %}
