{% extends "SmallAdsBundle:Main:base.html.twig" %}

{% block title %}small ads - archiwalne{% endblock %}

{% block body %}

    {% include 'SmallAdsBundle:Ad:ad_menu.html.twig' %}
    {% include 'SmallAdsBundle:Category:admin_menu.html.twig' %}

    <h2>Ogłoszenia archiwalne</h2>
    <hr/>

    {% for ad in ads %}
        [Kategoria: {{ ad.category }}] <b> Sprzedający: {{ ad.user }} </b>
        [{{ ad.endDate.date | date("d/m/Y H:i:s") }}]
        <a href="{{ path("smallads_ad_showad", {"id":ad.id}) }}">{{ ad.title }}</a>
        <hr/>
    {% else %}
        Brak archiwalnych ogłoszeń
    {% endfor %}

{% endblock %}
