{% extends "SmallAdsBundle:Main:base.html.twig" %}

{% block title %}small ads - detale ogłoszenia{% endblock %}

{% block body %}

    {% include 'SmallAdsBundle:Ad:ad_menu.html.twig' %}


    <h2><i> {{ ad.title }} </i></h2>
    <i> Ogłoszenie dodane przez: </i>{{ ad.user }} <br/>
    <i>Data wygaśnięcia: </i>{{ ad.endDate.date | date("d/m/Y H:i:s") }} <br/>
    <i> Kategoria: </i>{{ ad.category }} <br/><br/>

    <i>Opis ogłoszenia: </i>{{ ad.description }} <br/><br/>

    {% if ad.photoPath is not empty %}
        <strong><i> Foto </i></strong> <br/><br/>
        <img src="{{ asset('/bundles/SmallAdsBundle/uploads_img/' ~ ad.photoPath) }}">
    {% endif %}

    <br/><br/>
    <a href="{{ path("smallads_comment_createcomment", {"id":ad.id}) }}">Skomentuj ogłoszenie</a>
    <br/><br/>

    {# na poxniej - dziala nie do konca zgodnie z zalozeniami#}
    {# {% render url('smallads_comment_createcomment', {'id': ad.id}) %}#}
    {# {{ render(controller('SmallAdsBundle:Comment:createComment', {'id': ad.id})) }}#}
    {# {% render controller('SmallAdsBundle:Comment:create_comment.html.twig', {"id": ad.id }) %}#}

    {% for comment in ad.comments %}
        <i>
            {{ comment.date | date("d/m/Y H:i:s") }} Dodany przez:
            {% if comment.user is not null %}
                {{ comment.user }} 
            {% else %}
                Anonim
            {% endif %} <br/>
        </i>
        {{ comment.text }}         

        {% if app.user is not null and comment.user is not null %}
            {% if (app.user.id) == (comment.user.id) %} 
                {# można ew. dodac opcje usuwania komentarzy przez właściciela ogłoszenia #}
                <a href="{{ path("smallads_comment_deletecomment", {"id":comment.id, "adId":ad.id}) }}">Usuń</a>
                <a href="{{ path("smallads_comment_editcomment", {"id":comment.id, "adId":ad.id}) }}">Edytuj</a>
            {% endif %}
        {% endif %}

        <br/><br/>
    {% else %}
        Brak komentarzy
    {% endfor %}

{% endblock %}
