{% extends "SmallAdsBundle:Main:base.html.twig" %}

{% block title %}small ads - ogłoszenia{% endblock %}

{% block body %}

    {% include 'SmallAdsBundle:Ad:ad_menu.html.twig' %}

    <h2>Ogłoszenia drobne</h2>

    Wybierz kategorię ogłoszeń 
    <select name="Wybierz kategorię" onchange="location = this.value;">
        <option>z listy</option>
        {% for category in categories %}
            <option value="{{ path("smallads_ad_showalladsbycategory", {"id":category.id}) }}">
                {{ category.name }} {#({{ category.ads | length }})#}
            </option> {#TODO licznik liczy rowniez archiwalne - do przemyslenia#}
        {% else %}
            Brak zapisanych kategorii
        {% endfor %}
    </select> <br/><br/>
    <hr/>

    {% for ad in ads %}
        ({{ ad.category }}) 
        <a href="{{ path("smallads_ad_showad", {"id":ad.id}) }}">{{ ad.title }}</a>
        <hr/>
    {% else %}
        Brak aktualnych ogłoszeń
    {% endfor %}

{% endblock %}
